.btn {
	background: none;
	border: 2px solid;
	font: inherit;
	line-height: 1;
	margin: 0.5em;
	padding: 1em 2em;
	color: var(--hover);
	transition: 0.25s;
}

.btn:hover,
.btn:focus {
	border-color: var(--primary);
	color: var(--hover);
}

.btn-offset {
	box-shadow: 0.3em 0.3em 0 0 var(--hover), inset 0.3em 0.3em 0 0 var(--hover);
}
.btn-offset:hover,
.btn-offset:focus {
	box-shadow: 0 0 0 0 var(--primary), inset 6em 3.5em 0 0 var(--primary);
}
